/* PODCAST */

.podcast{ padding: var(--section-padding) 0;}

.podcast-list{
  display: grid;
  gap: 30px; /* row-gap column-gap */
}

.podcast-card{ border-radius: 4px;}

.card-banner{
  position: relative;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 20px;
  z-index: 1;
}

.card-banner::before{
  content: "";
  position: absolute;
  inset: 0;
}

.podcast-card:is(:hover, :focus) .card-banner::before{
  background: hsla(0, 0%, 0%, 0.1);
}

.card-banner img{ width: 100%;}

.card-banner-icon{
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 50px;
  display: grid;
  place-items: center; /*Shorthand for align-items and justify-items*/
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 50%;
  font-size: 20px;
  transition: var(--transition);
}

.podcast-card:is(:hover, :focus) .card-banner-icon{
  background: var(--white);
  color: var(--blue-ryb);
}

.card-meta{
  position: relative;
  color: var(--heliotrope-gray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: var(--fs-4);
  margin-left: 35px;
  margin-bottom: 15px;
}

.card-meta::before{
  content: "";
  position: absolute;
  top: 50%;
  left: -35px;
  width: 25px;
  height: 2px;
  background: var(--heliotrope-gray);
  transform: translateY(-2px);
}

.podcast-card .card-title{
  display: inline;
  padding: 3px 0;
  background: var(--gradient);
  background-position: 0 95%;
  background-repeat: no-repeat; 
  background-size: 0 2px;
  transition: background var(--transition);
}

.podcast-card:is(:hover, :focus) .card-title{ background-size: 100% 2px;}
